@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<canvas id="canvas" width="500" height="300"
        style="border: 1px gainsboro dashed"></canvas>
<input type="button" class="btn btn-danger "
       id="clear-btn" value="Clear" />
<div>
    <button type="button" onclick="changeColor('#3ff206')">zielony</button>
    <button type="button" onclick="changeColor('#f10714')">czerwony</button>
    <button type="button" onclick="changeColor('#4169e1')">niebieski</button>
    <button type="submit" onclick="changeColor('#ffb6c1')">rozowy</button>
</div>
<div>
    <input type="number" id="numberWidth" />
    <button type="button" onclick="changeWidth()">zmien</button>
</div>

@section scripts
{

    <script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.6/fabric.min.js"></script>

    <script>
        function changeWidth() {
            document.puneCanvas.freeDrawingBrush.width = $('#numberWidth').val();
        }
        function changeColor(color) {
            document.puneCanvas.freeDrawingBrush.color = color;
        }
        var drawPath;
        var initialiseCanvas = function () {

            document.puneCanvas = new fabric.Canvas('canvas');

            document.puneCanvas.isDrawingMode = true;

            var pathCreated = function (e) {
                console.log(e.path);
                $.connection.puns.server
                    .sendPath(JSON.stringify(e.path));
            };
            document.puneCanvas.loadPath = pathCreated;
            document.puneCanvas.on({
                'path:created': pathCreated
            });


            $("#clear-btn").click(function () {
                $.connection.puns.server.clear();
            });


        }

        drawPath = function (pathString) {
            var path = JSON.parse(pathString);
            fabric.util.enlivenObjects([path], function (objects) {
                objects.forEach(function (o) {
                    document.puneCanvas.add(o);
                });
            });
        }

        $.connection.puns.client.clear = function () {
            document.puneCanvas.clear();
        }

        $.connection.puns.client.loadImage = function (paths) {
            initialiseCanvas();
            for (var i = 0; i < paths.length; i++) {
                drawPath(paths[i]);
            }
        }

        $.connection.puns.client.drawPath = drawPath;
        $.connection.hub.start();


    </script>
}
